{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSameLine": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 140,
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^(react|react-native)$", "^@expo", "^expo", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
